/*********************************** Media ***********************************/

@mixin sf-eq-sm {
  @media (max-width: $sf-breakpoint-sm - 1) {
    @content;
  }
}

@mixin sf-gt-sm {
  @media (min-width: $sf-breakpoint-sm) {
    @content;
  }
}

@mixin sf-eq-md {
  @media (min-width: $sf-breakpoint-sm) and (max-width: $sf-breakpoint-md - 1) {
    @content;
  }
}

@mixin sf-gt-md {
  @media (min-width: $sf-breakpoint-md) {
    @content;
  }
}

/********************************** Colors ***********************************/

@mixin sf-register-interactive-selector($postfix: '') {
  &#{$postfix} {
    &:not([disabled]) {
      // Grayscale theme.
      &:hover, &:focus, &:active {
        background-color: rgba(map-get($sf-color-map-primary, default), 0.05);
      }
      &.active {
        background-color: rgba(map-get($sf-color-map-primary, default), 0.1);
      }
    }
  }

  // Colour themes.
  @each $color-map in $sf-color-maps {
    $name: map-get($color-map, name);
    $default: map-get($color-map, default);
    $active: map-get($color-map, active);
    $selected: map-get($color-map, selected);

    // Text theme.
    &#{$postfix}.theme-text-#{$name},
    .theme-text-#{$name} &#{$postfix},
    &.theme-text-#{$name}#{$postfix} {
      &:not([disabled]) {
        &:hover, &:focus, &:active {
          color: sf-sensible-text-color($active);
          background-color: rgba($default, 0.05);
        }
        &.active {
          color: sf-sensible-text-color($selected);
          background-color: rgba($default, 0.1);
        }
      }
    }

    // Full theme.
    &#{$postfix}.theme-#{$name},
    .theme-#{$name} &#{$postfix},
    &.theme-#{$name}#{$postfix} {
      &:not([disabled]) {
        &:hover, &:focus, &:active {
          background-color: $active;
          color: sf-contrasting-color($active);
        }
        &.active {
          background-color: $selected;
          color: sf-contrasting-color($selected);
        }
      }
    }
  }
}

/*********************************** Misc ************************************/

@mixin sf-shadow-weak {
  box-shadow: 0 0 0 1px rgba($sf-color-overlay, 0.2);
}

@mixin sf-shadow-thin {
  box-shadow: 0 0 4px -1px $sf-color-overlay;
}

@mixin sf-shadow-medium {
  box-shadow: 0 0.2rem 1.5rem -0.2rem $sf-color-overlay;
}

@mixin sf-shadow-down {
  box-shadow: 0 3px 6px -3px $sf-color-overlay;
}

@mixin sf-shadow-inset-top-bottom {
  $color: $sf-color-overlay;
  box-shadow: inset 0 -9px 9px -9px $color, inset 0 9px 9px -9px $color;
}

@mixin sf-border-weak($color: $sf-color-text) {
  border: 1px solid rgba($color, 0.2);
}

// Used for all transitions defined by the library.
@mixin sf-transitions($properties...) {
  transition-property: $properties;
  transition-duration: $sf-transition-duration;
  transition-timing-function: $sf-transition-timing-function;
}

// Shortcut to a fixed-position overlay covering the whole screen.
@mixin sf-fixed-overlay {
  position: fixed;
  @include sf-trbl(0, 0, 0, 0);
}

@mixin sf-space-out-vertical($space: $sf-space) {
  > :not(:last-child) {margin-bottom: $space}
}

@mixin sf-space-out-horizontal($space: $sf-space) {
  > :not(:last-child) {margin-right: $space}
}

// Shortcut to defining an element as a flex layout host and centering its
// children both horizontally and vertically.
@mixin sf-flex-host-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Used for default :focus and :active effects.
@mixin sf-focus-indicator($extra-shadow: '') {
  @if $extra-shadow == '' {
    box-shadow: $sf-focus-indicator;
  }
  @if $extra-shadow != '' {
    box-shadow: unquote('#{$sf-focus-indicator}, #{$extra-shadow}');
  }
}

@mixin sf-shadow($shadow, $indicate-focus: false) {
  box-shadow: $shadow;
  @if $indicate-focus and $shadow == none {
    &:focus {
      @include sf-focus-indicator;
    }
  }
  @if $indicate-focus and $shadow != none {
    &:focus {
      @include sf-focus-indicator($shadow);
    }
  }
  @if not $indicate-focus {
    &:focus {
      box-shadow: $shadow;
    }
  }
}

@mixin sf-link-decorations {
  color: $sf-color-link;
  // Using box-shadow instead of border prevents the decoration from affecting
  // line spacing. In addition, the default focus decoration overrides it, so
  // only one decoration is visible at a time.
  box-shadow: inset 0 -1px 0 0 $sf-focus-indicator-color;
}

@mixin sf-trbl($top, $right, $bottom, $left) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin sf-scroll-v {
  overflow-x: hidden;
  overflow-y: auto;
}

// Used for interactive toggles in inactive state.
@mixin sf-toggle-inactive {
  content: '▷';

  // Layout.
  display: inline-block;
  text-align: center;

  // Set width and height ensures that the dimensions don't change when the
  // element is toggled, preventing minor layout reflows.
  width: 1.5em;
  height: 1.5em;

  // Whitespace.
  padding: 0;
  transform: translateY(0.1em);

  // Animate the rotation.
  @include sf-transitions(all);
}

// Used for interactive toggles in active state.
@mixin sf-toggle-active {
  content: '▶︎';
  transform: translateX(-0.2em) rotate(90deg);
}
