/********************************** General **********************************/

$sf-breakpoint-sm: 600px !default;
$sf-breakpoint-md: 960px !default;
$sf-breakpoint-lg: 1200px !default;

// Standard border radius.
$sf-border-radius: 0.2rem !default;

// Z-indices used for absolutely positioned elements. Grouped for easier bookkeeping.
$sf-z-index-navbar:   1000 !default;
$sf-z-index-modal:    1100 !default;
$sf-z-index-dropdown: 1200 !default;
$sf-z-index-tooltip:  1300 !default;

/******************************** colors.scss ********************************/

/**
 * Theme colours.
 */

$sf-color-map-primary: (
  name: 'primary',
  default: #4646a0,
  active: lighten(#4646a0, 5%),
  selected: lighten(#4646a0, 10%)
) !default;

$sf-color-map-accent: (
  name: 'accent',
  default: rgb(219, 239, 47),
  active: darken(rgb(219, 239, 47), 5%),
  selected: darken(rgb(219, 239, 47), 10%)
) !default;

$sf-color-map-warn: (
  name: 'warn',
  default: #d82727,
  active: darken(#d82727, 5%),
  selected: #b32c2c
) !default;

$sf-color-maps: $sf-color-map-primary, $sf-color-map-accent, $sf-color-map-warn !default;

/**
 * Static colours.
 */
$sf-color-text: lighten(black, 2%) !default;
$sf-color-background: darken(white, 2%) !default;
$sf-color-link: map-get($sf-color-map-primary, default) !default;
$sf-color-umbra: lighten(black, 20%) !default;
$sf-color-overlay: rgba($sf-color-umbra, 0.4) !default;

/******************************** layout.scss ********************************/

// Maximum website width. This is used exclusively for max-width, and may be set
// to none to let the website stretch across any display.
$sf-body-max-width: $sf-breakpoint-md !default;

/******************************** mixins.scss ********************************/

$sf-transition-duration: 0.2s !default;
$sf-transition-timing-function: ease !default;

$sf-focus-indicator-color: rgba(map-get($sf-color-map-primary, default), 0.4);

// Shadow style used for :focus and :active indicators.
$sf-focus-indicator: 0 0 0 2px $sf-focus-indicator-color;

/****************************** typography.scss ******************************/

/**
 * Font families.
 */
// Try to use default system fonts on various platforms.
$sf-font-family-sans-serif: Helvetica Neue, Roboto, Segoe UI, Verdana, sans-serif !default;
// Fancy sans-serif > tolerable serif > fallback.
$sf-font-family-serif: Optima, Georgia, serif !default;
// Default OS X monospace > old OS X monospace > Windows monospace > fallback.
$sf-font-family-monospace: Menlo, Monaco, Consolas, monospace !default;

// rem sizing for the <html> element. The common baseline is 12pt = 16px = 1em.
// Must be an absolute unit like `px` or `pt`.
$sf-rem: 12pt !default;

// Font size variants.
$sf-font-size-small: 0.8rem;
$sf-font-size-large: 1.25rem;

// Relative font size variants.
$sf-font-size-smaller: 0.8em;
$sf-font-size-larger: 1.25em;

// Common whitespace size. Must NOT be `em`, `%`, or unitless. Needs to be
// independent of the inherited font size.
$sf-space: 1rem !default;

// By default, we slightly space out lines.
$sf-line-height: 1.4 !default;

// By default, we use normal font weight.
$sf-font-weight: normal !default;

/****************************** sf-navbar.scss *******************************/

// Default navbar and footer height. This must be in non-em units, so we can
// properly offset the body when the navbar is fixed.
$sf-navbar-height: 3.5rem !default;

// At which child to wrap the auto-collapsing navbar.
$sf-navbar-nth-child: 4 !default;

/****************************** sf-footer.scss *******************************/

// Minimum footer height. By default, it matches the navbar.
$sf-footer-height: $sf-navbar-height !default;

// Offset from the preceding content.
$sf-footer-offset: 4 * $sf-space !default;

/******************************* sf-jumbo.scss *******************************/

$sf-jumbo-height: 16em !default;
$sf-jumbo-font-size: 1.6em !default;

/****************************** sf-tabset.scss *******************************/

$sf-tabset-head-height: 3em !default;
$sf-tabset-body-min-height: 3em !default;

/****************************** sf-tooltip.scss ******************************/

// The proportion of the standard dimensions to use in tooltips. Must be a
// unitless fractional number.
$sf-tooltip-proportion: 0.8 !default;

// By how much to offset the tooltip from the parent. em or rem is recommended.
$sf-tooltip-offset: 0.5em !default;
