/********************************** Styles ***********************************/

/**
 * Global default styling that doesn't fall into other categories.
 */

/**
 * Default styling for monospace tags.
 */
tt, code, kbd, pre, samp {
  border-radius: $sf-border-radius / 2;
}
pre {
  white-space: pre-wrap;
}

// Normalise link styles, overriding user agent defaults.
a, a:hover {
  text-decoration: none;
}

// Globally limit image width.
img {
  max-width: 100%;
}

// Normalise <ul> and <ol> bullet position.
ul, ol {
  list-style-position: inside;
}

// Shift nested lists further to the right.
ul, ol {
  ul, ol {
    margin-left: $sf-space;
  }
}

// Use a thin, solid box-shadow as a default :focus and :active effect. We're
// using a box-shadow instead of an outline because of an FF bug. In FF, outline
// dimensions can be expanded outwards by _absolutely positioned children_.
// Another benefit of box-shadow is that it respects border-radius, and outline
// doesn't.
:focus {
  outline: none;
  @include sf-focus-indicator;
}

select:focus {
  // Negate the indicator defined above.
  box-shadow: none;
  outline: -webkit-focus-ring-color auto;
}

// Common-sense cursor styles.
.interactive,
a[href],
[data-sf-toggle],
[data-sf-toggle-siblings],
[data-sf-toggle-id] {
  cursor: pointer;
}
// Global [disabled] defaults.
[disabled] {
  cursor: not-allowed;
  opacity: 0.7;
}

.block {display: block}

// Automatically scroll nospill containers. (The user still needs to set the
// height property.)
[data-sf-no-scroll-spill] {
  @include sf-scroll-v;
}

// Prettier section break.
hr {
  margin-top: 2 * $sf-space;
  margin-bottom: 2 * $sf-space;
  border: none;
  border-top: 1px solid lightgrey;
}

// Prevent textareas from breaking out of containers through horizontal
// resize.
textarea {
  resize: vertical;
}

// Link decorations. We're trying to target links in text without affecting
// other elements.
p a, ul a, ol a, dl a, a.decorated {
  @include sf-link-decorations;
  // Restore the :focus effect by raising its specificity.
  &:focus {@extend :focus;}
}

/********************************** Globals **********************************/

/**
 * Layout.
 */
// IE 10 fix.
[hidden] {display: none}
// IE fix.
template {display: none !important}
.block {display: block}

/**
 * Whitespace.
 */
.pad {
  padding: $sf-space;
}
.nopad {
  padding: 0;
}
.space-out {
  @include sf-space-out-vertical;
}
.space-out-h {
  @include sf-space-out-horizontal;
}
// Clears floats and prevents vertical margin collapse.
.clear-both {
  &::before, &::after {
    content: '';
    display: table;
    clear: both;
  }
}
