/**
 * Default global text styles.
 */

// Base font family and size.
html {
  font-family: $sf-font-family-sans-serif;
  font-weight: $sf-font-weight;
  font-size: $sf-rem;
  line-height: $sf-line-height;
  @include sf-eq-sm {font-size: $sf-rem * 0.8}
  @include sf-eq-md {font-size: $sf-rem * 0.9}
}

// Normalise header font weight.
h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}
// Normalise h1 size in Webkit in the <article> context.
h1 {
  font-size: 2em;
}

// Normalise form and input text styles.
form, input, textarea, button, select, option {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-decoration: inherit; // FF
}

tt, code, kbd, pre, samp {
  font-family: $sf-font-family-monospace;
  // Normalise monospace font size.
  font-size: 14/16 * 1em;
  // Prevent further reduction.
  tt, code, kbd, pre, samp {
    font-size: 1em;
  }
}

sub, sup {
  font-size: 0.5em;
}

// Restore default behaviour.
small {
  font-size: $sf-font-size-smaller;
}

// Restore default behaviour.
big {
  font-size: $sf-font-size-larger;
}

// Normalise bold elements.
b, strong {
  // If the default font-weight is something like `300` or `lighter`, this
  // should be equivalent to `normal`.
  font-weight: bolder;
}

/**
 * Utility classes.
 */

.text-center  {text-align: center}
.text-justify {text-align: justify}
.text-left    {text-align: left}
.text-right   {text-align: right}

.text-small {font-size: $sf-font-size-small}
.text-large {font-size: $sf-font-size-large}

.text-smaller {font-size: $sf-font-size-smaller}
.text-larger  {font-size: $sf-font-size-larger}
