@import './_variables';

/**
 * Default global text styles.
 */

// Base font family and size.
html {
  font-family: $sf-font-family-sans-serif;
  font-size: $sf-rem;
  line-height: 1.4;
  @include sf-eq-sm {font-size: $sf-rem * 0.8}
  @include sf-eq-md {font-size: $sf-rem * 0.9}
}

// Normalise header font weight.
h1, h2, h3, h4, h5, h6 {
  font-weight: normal
}
// Normalise h1 size in Webkit in the <article> context.
h1 {
  font-size: 2em;
}

// Normalise form and input text styles.
form, input, textarea, button {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-decoration: inherit; // FF
}

tt, code, kbd, pre, samp {
  font-family: $sf-font-family-monospace;
  // Normalise monospace font size.
  font-size: 14/16 * 1em;
  // Prevent further reduction.
  tt, code, kbd, pre, samp {
    font-size: 1em;
  }
}
