doc-toc, [doc-toc] {

  // Subclass sf-collapse.
  @extend sf-collapse;

  /**
   * Layout.
   */
  width: 10em;
  float: right;
  margin-left: $sf-space;

  // Don't offset the next element.
  margin-bottom: 0;

  // Default labeling.
  > label:empty {
    &::before {
      content: 'Contents';
    }
    &::after {
      padding-left: 0.5em;
    }
  }

  /**
   * Cosmetic.
   */
  @include sf-outline-weak;
  > * {
    padding: $sf-space / 2;
  }
}
