doc-demo, [doc-demo] {

  /**
   * Inner layout.
   */
  // Required for proper child display, also helps avoid floats.
  display: flex;
  flex-wrap: wrap;
  padding: $sf-space;

  /**
   * Cosmetic.
   */
  @include sf-border-weak;
  border-radius: $sf-border-radius;

  /**
   * Header styling.
   */
  &::before {
    content: 'Demo';

    /**
     * Layout.
     */
    display: block;
    // Don't shrink, force to wrap other children.
    flex: none;
    width: calc(100% + 2rem);
    // Negate the parent's padding and add a bottom offset.
    margin-top: -$sf-space;
    margin-right: -$sf-space;
    margin-bottom: $sf-space;
    margin-left: -$sf-space;

    // Typography.
    font-size: 1.2em;
    padding: $sf-space / 2 $sf-space;

    // Cosmetic.
    $c: map-get($sf-color-map-primary, default);
    background-color: $c;
    color: sf-contrasting-color($c);
    border-top-left-radius: $sf-border-radius;
    border-top-right-radius: $sf-border-radius;
  }
}
