.sf-collapse.doc-toc {

  /**
   * Layout.
   */
  width: 10em;
  float: right;

  // Whitespace.
  margin-left: $sf-space;
  // Negate extra header margins.
  &:first-child + * {margin-top: 0}

  // Default labeling.
  .sf-collapse-head {padding: $sf-space / 2}
  .sf-collapse-head:empty {
    &::before {
      content: 'Contents';
    }
  }

  /**
   * Cosmetic.
   */
  @include border-weak;
  .sf-collapse-body {
    // Layout.
    display: flex;
    flex-direction: column;

    // Whitespace.
    padding: 0;
    > * {
      margin: 0;
      padding: $sf-space / 2;
    }
  }
  .sf-collapse-head:not(.active) ~ .sf-collapse-body {
    display: none;
  }
}
