[doc-toc] {

  // Subclass sf-collapse. (Still requires either [sf-collapse] or [sf-toggle]
  // for label toggling.)
  @extend [sf-collapse];

  /**
   * Layout.
   */
  width: 10em;
  float: right;
  margin-left: $sf-space;

  // Don't offset the next element.
  margin-bottom: 0;

  // Default labeling.
  > label {padding: $sf-space / 2}
  > label:empty {
    &::before {
      content: 'Contents';
    }
    &::after {
      padding-left: 0.5em;
    }
  }

  /**
   * Cosmetic.
   */
  @include sf-border-weak;
  > [sf-collapse-body] {
    // Layout.
    display: flex;
    flex-direction: column;
    // Whitespace.
    padding: 0;
    > * {padding: $sf-space / 2}
  }
}
