/**
 * Default global text styles and mixins.
 */

/********************************** Styles ***********************************/

html {

  // Base font family and size.
  font-family: @sf-font-family-sans-serif;
  .sf-media-mix(font-size, @sf-font-size-base);

  // No <a> decorations.
  a, a:hover {
    text-decoration: none;
  }

  // Normalise header font weight.
  .sf-h({font-weight: normal});

  // Make the contenteditable focus styling more consistent across browsers.
  [contenteditable]:focus {
    .sf-outline-weak();
  }

  // Fix font-family inheritance for text inputs.
  input, textarea {
    font-family: inherit;
  }
}

/**
 * Default styling for monospace tags.
 */
tt, code, kbd, pre, samp {
  font-family: @sf-font-family-monospace;
  .sf-shift-color(background-color, @sf-base-background-color, 5%);
  border-radius: @sf-common-border-radius / 2;
}
// Sensible defaults for <pre> tags.
pre {
  padding: @sf-common-padding;
  white-space: pre-wrap;
}
