<!DOCTYPE html>
<html>
  <head>
    <title>stylific</title>
    <meta name="author" content="mitranim">
    <meta name="description" content="stylific documentation">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="/stylific/styles/docs.css">
    <base href="/stylific/">
    <link rel="icon" href="data:;base64,=">
  </head>

  <body>
    <!-- Navbar -->
    <sf-navbar>
  <!-- Links -->
  <a  href="">Overview</a>
  <a  href="components/">Components</a>
  <a class="active" href="layout/">Layout</a>
  <a  href="themes/">Themes</a>
  <!-- Collapse breakpoint -->
  <label></label>
  <!-- Collapsable children -->
  <a  href="configuration/">Config</a>
  <sf-dropdown style="padding: 0">
    <label layout="center">Examples</label>
    <sf-dropdown-list class="text-left">
      <a  href="examples/navbar-demo/">navbar demo</a>
      <a  href="examples/footer/">footer</a>
      <a  href="examples/grid-demo/">grid demo</a>
    </sf-dropdown-list>
  </sf-dropdown>
</sf-navbar>


    <!-- Presentation jumbo -->
    <sf-jumbo style="height: auto">
      <h1 layout="space-between">
        stylific
        <a href="https://github.com/Mitranim/stylific" target="_blank">
          <sf-icon class="github-light pop">
            <svg width="2048" height="2048" viewBox="0 0 2048 2048" xmlns="http://www.w3.org/2000/svg"><path d="M1792 1024q0 251-146.5 451.5t-378.5 277.5q-27 5-39.5-7t-12.5-30v-211q0-97-52-142 57-6 102.5-18t94-39 81-66.5 53-105 20.5-150.5q0-121-79-206 37-91-8-204-28-9-81 11t-92 44l-38 24q-93-26-192-26t-192 26q-16-11-42.5-27t-83.5-38.5-86-13.5q-44 113-7 204-79 85-79 206 0 85 20.5 150t52.5 105 80.5 67 94 39 102.5 18q-40 36-49 103-21 10-45 15t-57 5-65.5-21.5-55.5-62.5q-19-32-48.5-52t-49.5-24l-20-3q-21 0-29 4.5t-5 11.5 9 14 13 12l7 5q22 10 43.5 38t31.5 51l10 23q13 38 44 61.5t67 30 69.5 7 55.5-3.5l23-4q0 38 .5 89t.5 54q0 18-13 30t-40 7q-232-77-378.5-277.5t-146.5-451.5q0-209 103-385.5t279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"/></svg>
          </sf-icon>
        </a>
      </h1>
      <p>CSS UI library</p>
    </sf-jumbo>

    <!-- Site content -->
    <sf-article>
      <!-- TOC -->
<div sf-collapse doc-toc theme="text-accent">
  <label class="active" theme="accent"></label>
  <sf-collapse-body>
    <a href="layout/#overview">Overview</a>
    <a href="layout/#container">Container</a>
    <a href="layout/#child">Child</a>
    <a href="layout/#whitespace">Whitespace</a>
  </sf-collapse-body>
</div>

<h1 id="overview">Overview</h1>
<p>stylific&#39;s layout system is based on flexbox. Starting with version <code>0.1.0</code>, it
uses attributes, borrowing ideas from <a href="https://material.angularjs.org/latest/#/layout/container" target="_blank">Angular
Material</a>.</p>
<p>The <code>layout</code> attribite defines container properties, and the <code>flex</code> attribute
defines child properties.</p>
<h1 id="container">Container</h1>
<p>Container properties are defined with the <code>layout</code> attribute. It takes an
arbitrary number of whitespace-separated flags. See the full reference in
<a href="https://github.com/Mitranim/stylific/tree/master/scss/layout.scss" target="_blank"><code>layout.scss</code></a>.
The flag order doesn&#39;t matter.</p>
<pre><code class="hljs lang-html"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">layout</span>&gt;</span>...<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">layout</span>=<span class="hljs-value">"row"</span>&gt;</span>...<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">layout</span>=<span class="hljs-value">"column"</span>&gt;</span>...<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
</code></pre>
<p>Each attribute has several media-aware versions:</p>
<pre><code class="hljs lang-scss">layout     <span class="hljs-comment">// baseline (no @media)</span>
layout-sm  <span class="hljs-comment">// small displays</span>
layout-md  <span class="hljs-comment">// medium displays and up</span>
layout-lg  <span class="hljs-comment">// large displays and up</span>
</code></pre>
<p>To control child alignment on the main axis (usually horizontal), use one of the
whitespace flags (<code>justify-content</code> in flexbox terms):</p>
<pre><code class="hljs lang-html"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">layout</span>=<span class="hljs-value">"row space-between"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">button</span>&gt;</span>left<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">button</span>&gt;</span>center<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">button</span>&gt;</span>right<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
</code></pre>
<div doc-demo style="display: block">
  <div layout="row space-between">
    <button>left</button>
    <button>center</button>
    <button>right</button>
  </div>
</div>

<p>To control child alignment on the cross axis (usually vertical), use one of the
cross-alignment flags (<code>align-items</code> in flexbox terms):</p>
<pre><code class="hljs lang-html"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">layout</span>=<span class="hljs-value">"row cross-start"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"min-height: 6em"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">button</span>&gt;</span>top<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">layout</span>=<span class="hljs-value">"row cross-center"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"min-height: 6em"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">button</span>&gt;</span>center<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">layout</span>=<span class="hljs-value">"row cross-end"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"min-height: 6em"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">button</span>&gt;</span>bottom<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
</code></pre>
<div doc-demo layout="row space-between cross-stretch">
  <div layout="row cross-start" style="min-height: 6em">
    <button>top</button>
  </div>
  <div layout="row cross-center" style="min-height: 6em">
    <button>center</button>
  </div>
  <div layout="row cross-end" style="min-height: 6em">
    <button>bottom</button>
  </div>
</div>

<p>Other options are listed in
<a href="https://github.com/Mitranim/stylific/tree/master/scss/layout.scss" target="_blank"><code>layout.scss</code></a>.</p>
<h1 id="child">Child</h1>
<p>Child properties are defined with the <code>flex</code> attribute. Just like <code>layout</code>,
it takes unordered whitespace-separated flags. See the full reference in
<a href="https://github.com/Mitranim/stylific/tree/master/scss/layout.scss" target="_blank"><code>layout.scss</code></a>.</p>
<p>Each attribute has several media-aware versions:</p>
<pre><code class="hljs lang-scss"><span class="hljs-attribute">flex</span>     <span class="hljs-comment">// baseline (no @media)</span>
<span class="hljs-attribute">flex</span>-sm  <span class="hljs-comment">// small displays</span>
<span class="hljs-attribute">flex</span>-md  <span class="hljs-comment">// medium displays and up</span>
<span class="hljs-attribute">flex</span>-lg  <span class="hljs-comment">// large displays and up</span>
</code></pre>
<p>To control child stretchiness across the main axis, use <code>flex=&quot;N&quot;</code>, where N
ranges from 1 to 12. In flexbox terms, this corresponds to <code>flex: N</code>.</p>
<pre><code class="hljs lang-html"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">layout</span>=<span class="hljs-value">"row space-out"</span>&gt;</span>
   <span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">flex</span>=<span class="hljs-value">"1"</span>&gt;</span>small<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>
   <span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">flex</span>=<span class="hljs-value">"6"</span>&gt;</span>huge<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>
   <span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">flex</span>=<span class="hljs-value">"1"</span>&gt;</span>small<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
</code></pre>
<div doc-demo style="display: block">
  <div layout="row space-out">
    <button flex="1">small</button>
    <button flex="6">huge</button>
    <button flex="1">small</button>
  </div>
</div>

<p>To control child order, use <code>flex=&quot;order-N&quot;</code>, where N ranges from -1 to 12.
In flexbox terms, this corresponds to <code>order: N</code>.</p>
<pre><code class="hljs lang-html"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">layout</span>=<span class="hljs-value">"row space-around"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">flex</span>=<span class="hljs-value">"order-2"</span>&gt;</span>third (order: 2)<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">flex</span>=<span class="hljs-value">"order-1"</span>&gt;</span>second (order: 1)<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">flex</span>=<span class="hljs-value">"order--1"</span>&gt;</span>first (order: -1)<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
</code></pre>
<div doc-demo style="display: block">
  <div layout="row space-around">
    <button flex="order-2">third (order: 2)</button>
    <button flex="order-1">second (order: 1)</button>
    <button flex="order--1">first (order: -1)</button>
  </div>
</div>

<p>To control child self-alignment, use one of the cross-axis flags. In flexbox
terms, this corresponds to <code>align-self</code>.</p>
<pre><code class="hljs lang-html"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">layout</span>=<span class="hljs-value">"row space-between"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"min-height: 6em"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">flex</span>=<span class="hljs-value">"stretch"</span>&gt;</span>stretch<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">flex</span>=<span class="hljs-value">"start"</span>&gt;</span>top<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">flex</span>=<span class="hljs-value">"center"</span>&gt;</span>center<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">flex</span>=<span class="hljs-value">"end"</span>&gt;</span>bottom<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
</code></pre>
<div doc-demo style="display: block">
  <div layout="row space-between" style="min-height: 6em">
    <button flex="stretch">stretch</button>
    <button flex="start">top</button>
    <button flex="center">center</button>
    <button flex="end">bottom</button>
  </div>
</div>

<h1 id="whitespace">Whitespace</h1>
<p>stylific defines a few global classes and attributes dedicated to whitespace.
They cover a lot of common use cases and save you from littering stylesheets
with haphazard margin and padding declarations.</p>
<p>Also see the whitespace-related
<a href="https://github.com/Mitranim/stylific/blob/master/scss/_variables.scss" target="_blank">variables</a>
and <a href="https://github.com/Mitranim/stylific/blob/master/scss/_mixins.scss" target="_blank">mixins</a>.</p>
<pre><code class="hljs lang-scss"><span class="hljs-attr_selector">[layout="space-out"]</span>        <span class="hljs-comment">// interval between children on the main axis</span>
<span class="hljs-attr_selector">[layout="space-out-cross"]</span>  <span class="hljs-comment">// interval between children on the cross axis</span>
<span class="hljs-class">.pad</span>                        <span class="hljs-comment">// default padding ($sf-space == 1rem)</span>
<span class="hljs-class">.space-out</span>                  <span class="hljs-comment">// vertical interval between children</span>
<span class="hljs-class">.space-out-h</span>                <span class="hljs-comment">// horizontal interval between children</span>
</code></pre>

    </sf-article>

    <!-- Footer -->
    <sf-footer>
  <sf-footer-body>
    <div flex="1" layout="column cross-start">
      <span>
        2015
        <a href="http://mitranim.com" target="_blank">Mitranim</a>
      </span>
    </div>
    <div flex="1" layout="column cross-center">
      <a layout="cross-center" href="https://github.com/Mitranim/stylific" target="_blank">
        <sf-icon class="inline github" style="font-size: 2em">
          <svg width="2048" height="2048" viewBox="0 0 2048 2048" xmlns="http://www.w3.org/2000/svg"><path d="M1792 1024q0 251-146.5 451.5t-378.5 277.5q-27 5-39.5-7t-12.5-30v-211q0-97-52-142 57-6 102.5-18t94-39 81-66.5 53-105 20.5-150.5q0-121-79-206 37-91-8-204-28-9-81 11t-92 44l-38 24q-93-26-192-26t-192 26q-16-11-42.5-27t-83.5-38.5-86-13.5q-44 113-7 204-79 85-79 206 0 85 20.5 150t52.5 105 80.5 67 94 39 102.5 18q-40 36-49 103-21 10-45 15t-57 5-65.5-21.5-55.5-62.5q-19-32-48.5-52t-49.5-24l-20-3q-21 0-29 4.5t-5 11.5 9 14 13 12l7 5q22 10 43.5 38t31.5 51l10 23q13 38 44 61.5t67 30 69.5 7 55.5-3.5l23-4q0 38 .5 89t.5 54q0 18-13 30t-40 7q-232-77-378.5-277.5t-146.5-451.5q0-209 103-385.5t279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"/></svg>
        </sf-icon>
        Source at GitHub
      </a>
    </div>
    <div flex="1" layout="column cross-end">
      <button sf-icon class="arrow-up pad" style="opacity: 0.5" onclick="scrollTo(0, 0)"></button>
    </div>
  </sf-footer-body>
</sf-footer>


    <!-- Scripts -->
    <script src="scripts/stylific.min.js"></script>
  </body>
</html>
