<!doctype html>

<base href="/stylific/">
<meta charset="utf-8">
<title>layout | stylific</title>
<meta name="author" content="mitranim">
<meta name="description" content="stylific documentation">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
<link rel="stylesheet" type="text/css" href="styles/docs.css">
<link rel="icon" href="data:;base64,=">

<body></body>

<!-- Navbar -->
<div class="sf-navbar sf-navbar-fixed">
  <!-- Links -->
  <a  href="">Overview</a>
  <a  href="components/">Components</a>
  <a class="active" href="layout/">Layout</a>

  <!-- Collapse breakpoint -->
  <div class="sf-navbar-toggle"></div>

  <!-- Collapsable children -->
  <a  href="themes/">Themes</a>
  <a  href="javascript/">JavaScript</a>
  <div class="sf-dropdown nopad">
    <div class="sf-dropdown-head row-center-center">Examples</div>
    <div class="sf-dropdown-body text-left">
      
        <a  href="examples/footer/">footer</a>
      
        <a  href="examples/grid-demo/">grid-demo</a>
      
        <a  href="examples/modal-demo/">modal-demo</a>
      
        <a  href="examples/navbar-demo/">navbar-demo</a>
      
    </div>
  </div>
</div>


<!-- Presentation jumbo -->
<div class="sf-jumbo" style="height: auto">
  <h1 class="row-between-center">
    layout
    <a href="https://github.com/Mitranim/stylific" target="_blank" class="row-center-center">
      <div class="sf-icon-github-light pop">
        
      </div>
    </a>
  </h1>
  
</div>

<!-- Site content -->
<article>
  <!-- TOC -->
<div class="sf-collapse doc-toc theme-text-accent">
  <div class="sf-collapse-head active theme-accent"></div>
  <div class="sf-collapse-body">
    <a href="layout/#overview">Overview</a>
    <a href="layout/#container">Container</a>
    <a href="layout/#child">Child</a>
    <a href="layout/#grid">Grid</a>
    <a href="layout/#whitespace">Whitespace</a>
  </div>
</div>

<h1 id="overview">Overview</h1>
<p>stylific is very flexbox-centric. It uses flexbox for built-in components and
provides a bunch of classes that serve as shortcuts to useful combinations of
flex properties.</p>
<p>In case you&#39;re unfamiliar with flexbox, read this
<a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/" target="_blank">wonderful introduction</a>
on CSS Tricks. In short, a <em>flex container</em> is similar to a block, but has
extremely rich control over its inner layout. A <em>flex item</em>, or flex child (its
immediate descendant) has rich control over its dimensions inside the flex parent.</p>
<p>stylific has three groups of layout classes: for containers, children, and
grids. They&#39;re defined in
<a href="https://github.com/Mitranim/stylific/tree/master/scss/layout.scss" target="_blank"><code>layout.scss</code></a>.</p>
<h1 id="container">Container</h1>
<div class="sf-collapse">
  <div class="sf-collapse-head theme-accent">
    <span class="sf-icon-info-circle inline flex-none" style="margin-right: 0.75rem"></span>
    <p>Breaking changes in <code>0.13.0</code>. Click for migration guide.</p>
  </div>
  <div class="sf-collapse-body border border-accent">
    <ul>
      <li>
        <span>Replace groups of <code>layout-*</code> classes with compound classes <code>row-*-*</code> or <code>col-*-*</code>. Example:</span>
        <ul>
          <li>
            <code>class=&quot;layout-row layout-space-between layout-cross-center&quot;</code> → <code>class=&quot;row-between-center&quot;</code>
          </li>
        </ul>
      </li>
      <li>
        <span>Replace media-aware classes <code>layout-&lt;size&gt;-*</code> with <code>&lt;size&gt;-row-*-*</code> or <code>&lt;size&gt;-col-*-*</code>. Example:</span>
        <ul>
          <li>
            <code>class=&quot;layout-sm-column layout-md-row&quot;</code> → <code>class=&quot;sm-col-start-stretch md-row-between-stretch&quot;</code>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<p>Container classes define flex container properties. Here&#39;s an example:</p>
<pre><code class="hljs lang-html"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"row-between-center"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"height: 8em"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>I'm centered on the left!<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>I'm centered on the right!<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
</code></pre>
<div class="doc-demo">
  <div class="doc-demo-body">
    <div class="row-between-center pretty-children" style="height: 8em">
      <div>I&#39;m centered on the left!</div>
      <div>I&#39;m centered on the right!</div>
    </div>
  </div>
</div>

<p>There are 40 container classes:</p>
<table class="doc-table" style="width: 100%">
  <thead>
    <tr>
      <th class="row-between-center" style="margin-right: -1px; margin-bottom: -1px">
        <span>main ↓</span>
        <span>cross →</span>
      </th>
      <th><code>*-*-start</code></th>
      <th><code>*-*-center</code></th>
      <th><code>*-*-end</code></th>
      <th><code>*-*-stretch</code></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>row-start-*</code></td>
      <td><code>.row-start-start</code></td>
      <td><code>.row-start-center</code></td>
      <td><code>.row-start-end</code></td>
      <td><code>.row-start-stretch</code></td>
    </tr>
    <tr>
      <td><code>row-center-*</code></td>
      <td><code>.row-center-start</code></td>
      <td><code>.row-center-center</code></td>
      <td><code>.row-center-end</code></td>
      <td><code>.row-center-stretch</code></td>
    </tr>
    <tr>
      <td><code>row-end-*</code></td>
      <td><code>.row-end-start</code></td>
      <td><code>.row-end-center</code></td>
      <td><code>.row-end-end</code></td>
      <td><code>.row-end-stretch</code></td>
    </tr>
    <tr>
      <td><code>row-around-*</code></td>
      <td><code>.row-around-start</code></td>
      <td><code>.row-around-center</code></td>
      <td><code>.row-around-end</code></td>
      <td><code>.row-around-stretch</code></td>
    </tr>
    <tr>
      <td><code>row-between-*</code></td>
      <td><code>.row-between-start</code></td>
      <td><code>.row-between-center</code></td>
      <td><code>.row-between-end</code></td>
      <td><code>.row-between-stretch</code></td>
    </tr>
    <tr>
      <td><code>col-start-*</code></td>
      <td><code>.col-start-start</code></td>
      <td><code>.col-start-center</code></td>
      <td><code>.col-start-end</code></td>
      <td><code>.col-start-stretch</code></td>
    </tr>
    <tr>
      <td><code>col-center-*</code></td>
      <td><code>.col-center-start</code></td>
      <td><code>.col-center-center</code></td>
      <td><code>.col-center-end</code></td>
      <td><code>.col-center-stretch</code></td>
    </tr>
    <tr>
      <td><code>col-end-*</code></td>
      <td><code>.col-end-start</code></td>
      <td><code>.col-end-center</code></td>
      <td><code>.col-end-end</code></td>
      <td><code>.col-end-stretch</code></td>
    </tr>
    <tr>
      <td><code>col-around-*</code></td>
      <td><code>.col-around-start</code></td>
      <td><code>.col-around-center</code></td>
      <td><code>.col-around-end</code></td>
      <td><code>.col-around-stretch</code></td>
    </tr>
    <tr>
      <td><code>col-between-*</code></td>
      <td><code>.col-between-start</code></td>
      <td><code>.col-between-center</code></td>
      <td><code>.col-between-end</code></td>
      <td><code>.col-between-stretch</code></td>
    </tr>
  </tbody>
</table>

<p>They&#39;re formed from combinations of three properties:</p>
<pre><code class="hljs lang-scss">&lt;<span class="hljs-attribute">direction</span>&gt;-&lt;main&gt;-&lt;cross&gt;
</code></pre>
<ul>
<li><code>direction</code> — direction of flex container (row or column)</li>
<li><code>main</code> — child alignment on main axis (⇄ in a row container,
⇅ in a column container)</li>
<li><code>cross</code> — child alignment on cross axis (⇅ in a row container,
⇄ in a column container)</li>
</ul>
<p>Rundown of the corresponding flex rules:</p>
<pre><code class="hljs lang-scss"><span class="hljs-comment">// Direction</span>
<span class="hljs-class">.row-</span>*-*     {<span class="hljs-attribute">display</span><span class="hljs-value">: flex;</span> <span class="hljs-attribute">flex-direction</span><span class="hljs-value">: row;</span>}
<span class="hljs-class">.col-</span>*-*     {<span class="hljs-attribute">display</span><span class="hljs-value">: flex;</span> <span class="hljs-attribute">flex-direction</span><span class="hljs-value">: column;</span>}

<span class="hljs-comment">// Child alignment on main axis</span>
.*-start-*   {<span class="hljs-attribute">justify-content</span><span class="hljs-value">: flex-start;</span>}
.*-<span class="hljs-value">center</span>-*  {<span class="hljs-attribute">justify-content</span><span class="hljs-value">: center;</span>}
.*-end-*     {<span class="hljs-attribute">justify-content</span><span class="hljs-value">: flex-end;</span>}
.*-between-* {<span class="hljs-attribute">justify-content</span><span class="hljs-value">: space-between;</span>}
.*-around-*  {<span class="hljs-attribute">justify-content</span><span class="hljs-value">: space-around;</span>}

<span class="hljs-comment">// Child alignment on cross axis</span>
.*-*-start   {<span class="hljs-attribute">align-items</span><span class="hljs-value">: flex-start;</span>}
.*-*-<span class="hljs-value">center</span>  {<span class="hljs-attribute">align-items</span><span class="hljs-value">: center;</span>}
.*-*-end     {<span class="hljs-attribute">align-items</span><span class="hljs-value">: flex-end;</span>}
.*-*-stretch {<span class="hljs-attribute">align-items</span><span class="hljs-value">: stretch;</span>}
</code></pre>
<h2 id="examples">Examples</h2>
<p>To control flow direction, use the <code>&lt;direction&gt;-*-*</code> property. It can be <code>row</code>
or <code>column</code>:</p>
<pre><code class="hljs lang-html"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"row-between-start"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>first in row<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>second in row<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>third in row<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"col-start-start"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>first in col<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>second in col<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>third in col<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
</code></pre>
<div class="doc-demo">
  <div class="doc-demo-body">
    <div class="row-between-start pretty-children">
      <div>first in row</div>
      <div>second in row</div>
      <div>third in row</div>
    </div>
    <div class="col-start-start pretty-children">
      <div>first in col</div>
      <div>second in col</div>
      <div>third in col</div>
    </div>
  </div>
</div>

<p>To control child alignment on the main axis, use the <code>*-&lt;main&gt;-*</code> property. Here
it&#39;s <code>between</code>, which causes the children to be spaced out:</p>
<pre><code class="hljs lang-html"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"row-between-center"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>left<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>center<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>right<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
</code></pre>
<div class="doc-demo">
  <div class="doc-demo-body">
    <div class="row-between-center pretty-children">
      <div>left</div>
      <div>center</div>
      <div>right</div>
    </div>
  </div>
</div>

<p>To control child alignment on the cross axis, use the <code>*-*-&lt;cross&gt;</code> property.
Here it&#39;s set to different values on different containers:</p>
<pre><code class="hljs lang-html"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"row-center-start"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"min-height: 6em"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>top<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"row-center-center"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"min-height: 6em"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>center<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"row-center-end"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"min-height: 6em"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>bottom<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
</code></pre>
<div class="doc-demo">
  <div class="doc-demo-body row-between-stretch">
    <div class="row-center-start pretty-children" style="min-height: 6em">
      <div>top</div>
    </div>
    <div class="row-center-center pretty-children" style="min-height: 6em">
      <div>center</div>
    </div>
    <div class="row-center-end pretty-children" style="min-height: 6em">
      <div>bottom</div>
    </div>
  </div>
</div>

<h2 id="media-aware-containers">Media-aware containers</h2>
<p>Each class has several media-aware versions:</p>
<pre><code class="hljs lang-scss">.*-*-*     <span class="hljs-comment">// all displays (no @media)</span>
<span class="hljs-class">.sm-</span>*-*-*  <span class="hljs-comment">// small displays only</span>
<span class="hljs-class">.md-</span>*-*-*  <span class="hljs-comment">// medium displays and up</span>
<span class="hljs-class">.lg-</span>*-*-*  <span class="hljs-comment">// large displays and up</span>
</code></pre>
<p>Example:</p>
<pre><code class="hljs lang-html"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"col-center-stretch md-row-center-stretch lg-row-between-stretch"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>first<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>second<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>third<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
</code></pre>
<p>Resize the screen to see the children rearranged.</p>
<div class="doc-demo">
  <div class="doc-demo-body">
    <div class="pretty-children col-center-stretch md-row-center-stretch lg-row-between-stretch">
      <div>first</div>
      <div>second</div>
      <div>third</div>
    </div>
  </div>
</div>

<h1 id="child">Child</h1>
<div class="sf-collapse">
  <div class="sf-collapse-head theme-accent">
    <span class="sf-icon-info-circle inline flex-none" style="margin-right: 0.75rem"></span>
    <p>Breaking changes in <code>0.13.0</code>. Click for migration guide.</p>
  </div>
  <div class="sf-collapse-body border border-accent">
    <ul>
      <li>
        <span>Replace <code>flex-&lt;align&gt;</code> classes with <code>self-&lt;align&gt;</code>:</span>
        <ul>
          <li><code>class=&quot;flex-start&quot;</code> → <code>class=&quot;self-start&quot;</code></li>
          <li><code>class=&quot;flex-center&quot;</code> → <code>class=&quot;self-center&quot;</code></li>
          <li><code>class=&quot;flex-end&quot;</code> → <code>class=&quot;self-end&quot;</code></li>
          <li><code>class=&quot;flex-stretch&quot;</code> → <code>class=&quot;self-stretch&quot;</code></li>
        </ul>
      </li>
      <li>
        <span>Replace <code>flex-order-N</code> classes with <code>order-N</code>:</span>
        <ul>
          <li><code>class=&quot;flex-order-1&quot;</code> → <code>class=&quot;order-1&quot;</code></li>
        </ul>
      </li>
      <li>
        <span>Replace media-aware classes <code>flex-&lt;size&gt;-*</code> with <code>&lt;size&gt;-flex-*</code>, <code>&lt;size&gt;-self-*</code>, or <code>&lt;size&gt;-order-N</code>:</span>
        <ul>
          <li>
            <code>class=&quot;flex-sm-none flex-sm-stretch flex-sm-order-2&quot;</code> → <code>class=&quot;sm-flex-none sm-self-stretch sm-order-2&quot;</code>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<p>Child properties are defined with the <code>.flex-*</code>, <code>.self-*</code> and <code>.order-*</code> classes.</p>
<p>To control child stretchiness across the main axis, use <code>.flex-N</code>, where N
ranges from 1 to 12. In flexbox terms, this corresponds to <code>{flex: N}</code>.
You can also use <code>flex-none</code> to make the element rigid.</p>
<pre><code class="hljs lang-html"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"row-between-center space-out-h"</span>&gt;</span>
   <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"flex-1"</span>&gt;</span>small<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
   <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"flex-6"</span>&gt;</span>huge<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
   <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"flex-1"</span>&gt;</span>small<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
</code></pre>
<div class="doc-demo">
  <div class="doc-demo-body">
    <div class="row-between-center pretty-children space-out-h">
      <div class="flex-1">small</div>
      <div class="flex-6">huge</div>
      <div class="flex-1">small</div>
    </div>
  </div>
</div>

<p>To control child order, use <code>.order-N</code>, where N ranges from -1 to 12.
In flexbox terms, this corresponds to <code>{order: N}</code>.</p>
<pre><code class="hljs lang-html"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"row-around-center"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"order-2"</span>&gt;</span>third (order: 2)<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"order-1"</span>&gt;</span>second (order: 1)<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"order--1"</span>&gt;</span>first (order: -1)<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
</code></pre>
<div class="doc-demo">
  <div class="doc-demo-body">
    <div class="row-around-center pretty-children">
      <div class="order-2">third (order: 2)</div>
      <div class="order-1">second (order: 1)</div>
      <div class="order--1">first (order: -1)</div>
    </div>
  </div>
</div>

<p>To control child self-alignment, use one of the <code>.self-*</code> flags. In
flexbox terms, this corresponds to <code>{align-self: &lt;align&gt;}</code>.</p>
<pre><code class="hljs lang-html"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"row-between-center"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"min-height: 6em"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"self-stretch"</span>&gt;</span>stretch<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"self-start"</span>&gt;</span>top<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"self-center"</span>&gt;</span>center<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"self-end"</span>&gt;</span>bottom<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
</code></pre>
<div class="doc-demo">
  <div class="doc-demo-body">
    <div class="row-between-center pretty-children" style="min-height: 6em">
      <div class="self-stretch">stretch</div>
      <div class="self-start">top</div>
      <div class="self-center">center</div>
      <div class="self-end">bottom</div>
    </div>
  </div>
</div>

<h2 id="media-aware-children">Media-aware children</h2>
<p>Each class has several media-aware versions:</p>
<pre><code class="hljs lang-scss"><span class="hljs-class">.flex-</span>*   <span class="hljs-comment">// all displays (no @media)</span>
<span class="hljs-class">.self-</span>*   <span class="hljs-comment">// all displays (no @media)</span>
<span class="hljs-class">.order-N</span>  <span class="hljs-comment">// all displays (no @media)</span>

<span class="hljs-class">.sm-</span>*-*   <span class="hljs-comment">// small displays only</span>
<span class="hljs-class">.md-</span>*-*   <span class="hljs-comment">// medium displays and up</span>
<span class="hljs-class">.lg-</span>*-*   <span class="hljs-comment">// large displays and up</span>
</code></pre>
<h1 id="grid">Grid</h1>
<div class="sf-collapse">
  <div class="sf-collapse-head theme-accent">
    <span class="sf-icon-info-circle inline flex-none" style="margin-right: 0.75rem"></span>
    <p>Breaking changes in <code>0.13.0</code>. Click for migration guide.</p>
  </div>
  <div class="sf-collapse-body border border-accent">
    <ul>
      <li>
        <span>The <code>grid</code> class with default breakpoints has been removed. Make sure to specify <code>grid-N</code> explicitly:</span>
        <ul>
          <li>
            <code>class=&quot;grid&quot;</code> → <code>class=&quot;grid-2 grid-md-4 grid-lg-6&quot;</code>
          </li>
        </ul>
      </li>
      <li>
        <span>Replace media-aware classes <code>grid-&lt;size&gt;-*</code> with <code>&lt;size&gt;-grid-*</code>:</span>
        <ul>
          <li>
            <code>class=&quot;grid-sm-1&quot;</code> → <code>class=&quot;sm-grid-1&quot;</code>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<p>It&#39;s convenient to have a shortcut to a media-responsive flex container that
wraps its items on different breakpoints. <code>.grid-*</code> is a primitive version of that.
Open this on a <a href="examples/grid-demo/">separate page</a> to resize the page more
easily.</p>
<pre><code class="hljs lang-html"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"grid-2 md-grid-4 lg-grid-6"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>One<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>...<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>Twenty<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
</code></pre>
<div class="doc-demo">
  <div class="doc-demo-body">
    <div class="grid-2 md-grid-4 lg-grid-6 pretty-children">
      <div>One</div>
      <div>Two</div>
      <div>Three</div>
      <div>Four</div>
      <div>Five</div>
      <div>Six</div>
      <div>Seven</div>
      <div>Eight</div>
      <div>Nine</div>
      <div>Ten</div>
      <div>Eleven</div>
      <div>Twelve</div>
      <div>Thirteen</div>
      <div>Fourteen</div>
      <div>Fifteen</div>
      <div>Sixteen</div>
      <div>Seventeen</div>
      <div>Eighteen</div>
      <div>Nineteen</div>
      <div>Twenty</div>
    </div>
  </div>
</div>

<p>Each version of the class takes a numeric option <code>N</code> which specifies the number
of children per line:</p>
<pre><code class="hljs lang-scss"><span class="hljs-class">.grid-1</span>
<span class="hljs-class">.grid-2</span>
<span class="hljs-class">.grid-3</span>
<span class="hljs-class">.grid-4</span>
<span class="hljs-class">.grid-5</span>
<span class="hljs-class">.grid-6</span>
</code></pre>
<p>Use these classes together with media prefixes (see below) to tune the
breakpoints for your specific needs:</p>
<pre><code class="hljs lang-html"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"grid-1 md-grid-2 lg-grid-3"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>One<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>...<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>Twenty<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
</code></pre>
<div class="doc-demo">
  <div class="doc-demo-body">
    <div class="grid-1 md-grid-2 lg-grid-3 pretty-children">
      <div>One</div>
      <div>Two</div>
      <div>Three</div>
      <div>Four</div>
      <div>Five</div>
      <div>Six</div>
      <div>Seven</div>
      <div>Eight</div>
      <div>Nine</div>
      <div>Ten</div>
      <div>Eleven</div>
      <div>Twelve</div>
      <div>Thirteen</div>
      <div>Fourteen</div>
      <div>Fifteen</div>
      <div>Sixteen</div>
      <div>Seventeen</div>
      <div>Eighteen</div>
      <div>Nineteen</div>
      <div>Twenty</div>
    </div>
  </div>
</div>

<h2 id="media-aware-grids">Media-aware grids</h2>
<p>Each class has several media-aware versions:</p>
<pre><code class="hljs lang-scss"><span class="hljs-class">.grid-N</span>     <span class="hljs-comment">// all displays (no @media)</span>
<span class="hljs-class">.sm-grid-N</span>  <span class="hljs-comment">// small displays only</span>
<span class="hljs-class">.md-grid-N</span>  <span class="hljs-comment">// medium displays and up</span>
<span class="hljs-class">.lg-grid-N</span>  <span class="hljs-comment">// large displays and up</span>
</code></pre>
<h1 id="whitespace">Whitespace</h1>
<p>stylific defines sensible whitespace defaults and a few helper classes.
Together, they should save you from writing case-by-case whitespace rules most
of the time.</p>
<h2 id="defaults">Defaults</h2>
<p>First of all, stylific resets all margins and padding to 0 for all elements.
Whitespace is added back in a selective fashion, using:</p>
<ol>
<li>Container padding.</li>
<li>Margins between container&#39;s children.</li>
</ol>
<p>Typographically meaningful content like headers and paragraphs needs whitespace
all around it. It&#39;s achieved by combining container padding with margins between
children. By default, this styling is applied to <code>sf-article</code> and some other
stylific components. This combination of properties is also available as the
<code>.container</code> class (see below).</p>
<h2 id="classes">Classes</h2>
<p>These global helper classes are useful for manual whitespace adjustment.</p>
<pre><code class="hljs lang-scss"><span class="hljs-class">.pad</span>          <span class="hljs-comment">// default padding ($sf-space == 1rem)</span>
<span class="hljs-class">.nopad</span>        <span class="hljs-comment">// no padding</span>
<span class="hljs-class">.space-out</span>    <span class="hljs-comment">// vertical interval between children</span>
<span class="hljs-class">.space-out-h</span>  <span class="hljs-comment">// horizontal interval between children</span>
<span class="hljs-class">.container</span>    <span class="hljs-comment">// combination of .pad and .space-out</span>
</code></pre>
<p>Also see the whitespace-related
<a href="https://github.com/Mitranim/stylific/blob/master/scss/_variables.scss" target="_blank">variables</a>
and <a href="https://github.com/Mitranim/stylific/blob/master/scss/_mixins.scss" target="_blank">mixins</a>.</p>

</article>

<!-- Footer -->
<div class="sf-footer">
  <div class="sf-footer-body">
    <div class="flex-1 row-start-center">
      <span>
        2015—2016
        <a href="http://mitranim.com" target="_blank" class="decorated">Mitranim</a>
      </span>
    </div>
    <div class="flex-1 row-center-center">
      <a class="row-center-center" href="https://github.com/Mitranim/stylific" target="_blank">
        <div class="sf-icon-github inline" style="font-size: 2em">
          
        </div>
        <span>Source at GitHub</span>
      </a>
    </div>
    <div class="flex-1 row-end-center">
      <button class="sf-icon-arrow-up pad" onclick="window.scrollTo(0, 0)"></button>
    </div>
  </div>
</div>


<!-- Scripts -->
<script src="scripts/stylific.js" async></script>
<script src="scripts/simple-pjax.js" async
        onload="simplePjax.scrollOffsetSelector = '.sf-navbar.sf-navbar-fixed';"></script>
