<sf-navbar>
  <!-- Enable collapsing -->
  <input type="checkbox" id="navbar-dropdown">
  <label for="navbar-dropdown"></label>
  <!-- Links -->
  <a <%= $act('index', $) %> href="/">Overview</a>
  <a <%= $act('components', $) %> href="/components/">Components</a>
  <a <%= $act('color-system', $) %> href="/color-system/">Colour System</a>
  <a <%= $act('patterns', $) %> href="/patterns/">Patterns</a>
  <a <%= $act('configuration', $) %> href="/configuration/">Configuration</a>
  <sf-dropdown>
    <label class="justify-center">Examples</label>
    <sf-dropdown-list class="text-left">
      <a <%= $act('examples/active-switch', $) %> href="/examples/active-switch.html">active-switch</a>
      <a <%= $act('examples/navbar-demo', $) %> href="/examples/navbar-demo.html">navbar demo</a>
      <a <%= $act('examples/footer', $) %> href="/examples/footer.html">footer</a>
      <a <%= $act('examples/grid-demo', $) %> href="/examples/grid-demo.html">grid demo</a>
    </sf-dropdown-list>
  </sf-dropdown>
</sf-navbar>
