@mixin svg-icon-black($name) {
  &.sf-icon-#{$name} {@include bg-svg-black($name);}
}

@mixin svg-icon-white($name) {
  &.sf-icon-#{$name}-white {@include bg-svg-white($name);}
}

@mixin bg-svg-black($name) {
  $path: '#{$svg-black}#{$name}.svg';
  background-image: url($path);
}

@mixin bg-svg-white($name) {
  $path: '#{$svg-white}#{$name}.svg';
  background-image: url($path);
}

@mixin border-weak {
  border: 1px solid lighten(map-get($sf-color-map-primary, default), 40%);
  &.theme-accent, &.theme-text-accent, &.border-accent {
    border-color: lighten(map-get($sf-color-map-accent, default), 10%);
  }
  &.theme-warn, &.theme-text-warn, &.border-warn {
    border-color: lighten(map-get($sf-color-map-warn, default), 30%);
  }
}
