@mixin svg-icon-black($name) {
  &.sf-icon-#{$name} {@include bg-svg-black($name);}
}

@mixin svg-icon-white($name) {
  &.sf-icon-#{$name}-white {@include bg-svg-white($name);}
}

@mixin bg-svg-black($name) {
  $path: '#{$svg-black}#{$name}.svg';
  background-image: url($path);
}

@mixin bg-svg-white($name) {
  $path: '#{$svg-white}#{$name}.svg';
  background-image: url($path);
}
