/**
 * Global variables and/or overrides for imported variables.
 */

/******************************** Independent ********************************/

$svg-black: './bower_components/font-awesome-svg-png/black/svg/';
$svg-white: './bower_components/font-awesome-svg-png/white/svg/';

/******************************** Typography *********************************/

$sf-font-family-sans-serif: PT Sans, Verdana, sans-serif;
