/**
 * Global variables and/or overrides for imported variables.
 */

/******************************** Independent ********************************/

$svg-black: './bower_components/font-awesome-svg-png/black/svg/';
$svg-white: './bower_components/font-awesome-svg-png/white/svg/';

/******************************** Typography *********************************/

$sf-font-family-sans-serif: PT Sans, Verdana, sans-serif;

/********************************** Colours **********************************/

// http://clrs.cc
$color-navy:    #001f3f;
$color-blue:    #0074d9;
$color-aqua:    #7fdbff;
$color-teal:    #39cccc;
$color-olive:   #3d9970;
$color-green:   #2ecc40;
$color-lime:    #01ff70;
$color-yellow:  #ffdc00;
$color-orange:  #ff851b;
$color-red:     #ff4136;
$color-maroon:  #85144b;
$color-fuchsia: #f012be;
$color-purple:  #b10dc9;
$color-black:   #111111;
$color-gray:    #aaaaaa;
$color-silver:  #dddddd;
