/**
 * Global variables and/or overrides for imported variables.
 */

/******************************** Typography *********************************/

@sf-font-family-sans-serif: PT Sans, Verdana, sans-serif;
@sf-font-family-monospace:  Andale Mono, Menlo, Consolas, monospace;

@sf-enable-global-element-components: true;

/********************************** Colours **********************************/

@color-brown:  brown;
@color-orange: orange;
@color-red:    red;
