/**
 * Usage:
 *
 *   <div class="sf-article">...</div>
 *   <article>...</article>
 */

.sf-article,
// Extend the native tag.
article {

  /**
   * Whitespace.
   */
  @extend .container;
  // Larger offsets for headers. This relies on vertical margin collapse with
  // the previous element, if any, to produce an x2 rather than an x3 interval.
  // Vertical collapse doesn't work in flex columns, but articles are expected
  // to be blocks.
  > h1, > h2, > h3, > h4, > h5, > h6 {
    margin-top: $sf-space * 2;
    &:first-child {
      margin-top: 0;
    }
  }

  // Article image styles. Using a descendant selector because the layout may
  // have arbitrary depth. When writing markdown, images should be wrapped into
  // float helpers (below).
  img {
    // Layout.
    display: inline-block;
    width: 100%;
    height: auto;

    // Cosmetic.
    @include sf-shadow-thin;
  }

  // Float helpers.
  .float-left {
    float: left;
    margin-right: $sf-space;
  }
  .float-right {
    float: right;
    margin-left: $sf-space;
  }
  .float-left, .float-right {
    // Negate double offsets for headers following floating elements at the
    // beginning of an article.
    &:first-child + * {margin-top: 0}
    // Allowing more then on float on the same line usually leads to layout
    // issues. Let's prevent that.
    clear: both;
  }

  // Size helpers.
  .tiny, .float-left, .float-right {width: 25%}
  .small {width: calc(1/3 * 100%)}
  .medium {width: 50%}

  // Clear inner floating elements and prevent vertical outer and inner margins
  // from collapsing.
  @extend .clear-both;
}
