/**
 * Button styling. Somewhat inspired by material design.
 *
 * Usage:
 *
 *   <button>...</button>
 *   <input type="button">
 *   <sf-button>...</sf-button>
 *   <div sf-button>...</div>
 */

/**
 * TODO.
 *
 * Review how to best implement a button whose dimensions stay unchanged when
 * the content is changed dynamically. Easier in a flexible container, more
 * difficult when surrounded by whitespace. Might make an option with some
 * minimum width, a set height, and text ellipsis on overflow.
 */

sf-button,
[sf-button],
// Override native styles too.
button, input[type=button] {

  /**
   * Layout.
   */
  display: inline-block;
  padding: $sf-space / 2;

  // Normalise font size (browser defaults may be unpredictable).
  font-size: inherit;

  // Normalise text and background colour.
  color: inherit;
  background-color: inherit;

  // Border styles.
  border: none;
  border-radius: $sf-border-radius;

  // Normalise outlines.
  @include sf-outline-interactive;

  // A bit of skeuomorphism.
  box-shadow: 0 0.1rem 0.3rem -1px rgba(5, 5, 5, 0.5);
  &:active {
    @include sf-shadow-thin;
  }
  &[sf-button~=flat], &[disabled] {box-shadow: none}

  // Restore the normal dimensions when used as an icon.
  &[sf-icon] {
    width: auto;
    height: auto;
  }

  // Animate style changes.
  @include sf-transitions(all);

  // Treat as interactive too.
  @include sf-register-interactive-selector;
  @include sf-cursor-interactive;
}
