/**
 * .sf-collapse is a vertically collapsing element with a toggle.
 *
 * # Basic usage
 *
 * Must have the following layout:
 *
 *   <div class="sf-collapse">
 *     <label>...</label>
 *     <div class="sf-collapse-body">
 *       ...
 *     </div>
 *   </div>
 *
 * The label is visible and serves as a toggle. The collapsing part is the
 * .sf-collapse-body element.
 *
 * Mark the label as .active to uncollapse by default:
 *
 *   <div class="sf-collapse">
 *     <label class="active">...</label>
 *     <div class="sf-collapse-body">
 *       ...
 *     </div>
 *   </div>
 *
 *
 * # Options
 *
 * Has an option to enable an overlay that collapses the element when clicking
 * anywhere outside.
 *
 *   <div class="sf-collapse sf-collapse-overlay">
 *     ...
 *   </div>
 */

.sf-collapse {

  /**
   * Layout.
   */
  display: flex;
  flex-direction: column;

  // Whitespace.
  > label {padding: $sf-space}

  /**
   * Base label styles.
   */
  > label {
    // Cosmetic.
    cursor: pointer;

    // Toggle indicator.
    &::after {
      content: '▽';
      display: inline-block;
      vertical-align: middle;
      opacity: 0.5;
    }
    // If there's some text inside, offset the indicator.
    &:not(:empty)::after {
      padding-left: 0.5em;
    }
  }
  @include sf-register-interactive-selector(' > label');

  /**
   * Active label styles.
   */
  > label.active {
    &::after {content: '▲'}
  }
  @include sf-register-selected-state(' > label.active');

  /**
   * Base overlay styles.
   */
  &.sf-collapse-overlay > label::before {
    @include sf-fixed-overlay;
    opacity: 0;
  }

  // If the overlay option is enabled, make the toggle overlay interactive.
  &.sf-collapse-overlay > label.active {
    &::before {content: ''}
  }

  /**
   * Body styles.
   */
  // Base.
  > .sf-collapse-body {
    padding: $sf-space;
  }
  // Collapsed.
  > label:not(.active) ~ .sf-collapse-body {
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
    transform: scaleY(0);
  }
  // Active.
  > label.active ~ .sf-collapse-body {
    transform: scaleY(1);
  }

  // Animate visibility changes on children. Also include colour animations for
  // interactive parts. Can't afford to animate `all` because padding seriously
  // messes up the FPS. Include other common transitions.
  > * {@include sf-transitions(transform, color, background-color, outline, shadow, border);}
}
