/**
 * .sf-collapse is a vertically collapsing element with a toggle.
 *
 * # Basic usage
 *
 * Must have the following layout:
 *
 *   <div class="sf-collapse">
 *     <div class="sf-collapse-head">...</div>
 *     <div class="sf-collapse-body">
 *       ...
 *     </div>
 *   </div>
 *
 * The head is visible and serves as a toggle. The collapsing part is the
 * .sf-collapse-body element.
 *
 * Mark the head as .active to uncollapse by default:
 *
 *   <div class="sf-collapse">
 *     <div class="sf-collapse-head active">...</div>
 *     <div class="sf-collapse-body">
 *       ...
 *     </div>
 *   </div>
 *
 *
 * # Options
 *
 * Has an option to enable an overlay that collapses the element when clicking
 * anywhere outside.
 *
 *   <div class="sf-collapse sf-collapse-overlay">
 *     ...
 *   </div>
 */

.sf-collapse {

  /**
   * Layout.
   */
  display: flex;
  flex-direction: column;

  /**
   * Base head styles.
   */
  @at-root .sf-collapse-head {
    /**
     * Inner layout.
     */
    // Center the content vertically.
    display: flex;
    align-items: center;

    // Whitespace.
    padding: $sf-space;

    // Toggle indicator.
    &::after {
      @include sf-toggle-inactive;
      opacity: 0.5;
    }
    &:not(:empty)::after {
      margin-left: $sf-space / 4;
    }

    // Indicate interactivity.
    cursor: pointer;
    @include sf-register-interactive-selector;
  }

  /**
   * Active head styles.
   */
  @at-root .sf-collapse-head.active {
    &::after {
      @include sf-toggle-active;
    }
  }

  /**
   * Base overlay styles.
   */
  &.sf-collapse-overlay .sf-collapse-head::before {
    @include sf-fixed-overlay;
    opacity: 0;
  }

  // If the overlay option is enabled, make the toggle overlay interactive.
  &.sf-collapse-overlay .sf-collapse-head.active {
    &::before {content: ''}
  }

  /**
   * Body styles.
   */
  // Base.
  @at-root .sf-collapse-body {
    // Whitespace.
    @extend .container;
  }
  // Collapsed.
  @at-root .sf-collapse-head:not(.active) ~ .sf-collapse-body {
    display: none;
  }
}
