/**
 *
 * # Modes
 *
 * .sf-dropdown has two mutually exclusive modes: hover and toggled. The
 * toggled version is enabled by [data-sf-toggle] on the head.
 *
 *
 * ## Hover
 *
 * The hover version must have the following layout:
 *
 *   <div class="sf-dropdown">
 *     <div class="sf-dropdown-head">...</div>
 *     <div class="sf-dropdown-body">
 *       ...
 *     </div>
 *   </div>
 *
 * It triggers when you hover over the head and stays while the head or
 * the .sf-dropdown-body is hovered. The head needs to contain some text or
 * other content to be visible. The following .sf-dropdown-body may contain
 * arbitrary elements.
 *
 *
 * ## Toggled
 *
 * The toggled version is enabled by adding the [data-sf-toggle] attribute to
 * the head.
 *
 *   <div class="sf-dropdown">
 *     <div class="sf-dropdown-head" data-sf-toggle>...</div>
 *     <div class="sf-dropdown-body">
 *       ...
 *     </div>
 *   </div>
 *
 * This version is toggled on and off by clicking the head, and is toggled off
 * when clicking outside of the dropdown.
 *
 *
 * # Position
 *
 * The default position of the dropdown list is below the head. It can be
 * altered with an additional option.
 *
 *   <div class="sf-dropdown sf-dropdown-top">
 *   <div class="sf-dropdown sf-dropdown-right">
 *
 * See the code below for the list of supported positions.
 */

/**
 * ToDo.
 *
 * Use different xy shadow offsets based on position.
 */

.sf-dropdown {

  /**
   * Layout.
   */
  // Position relatively to provide a reference point for the dropdown list.
  position: relative;
  // This fixes the problem of children being overlaid by elements with a lower
  // z-index. The :hover state propagates from the children to the host.
  &:hover {
    z-index: $sf-z-index-dropdown;
  }

  // Base background colour for the list.
  &:not([class*=theme-]), &[class*=theme-text-] {
    background-color: $sf-color-background;
  }
  [class*=theme-] & {
    background-color: inherit;
  }

  /**
   * Base head styles.
   */
  @at-root .sf-dropdown-head {
    /**
     * Layout.
     */
    // Stretch across the available space.
    flex: 1;
    align-self: stretch;

    /**
     * Inner layout.
     */
    // Center the content vertically.
    display: flex;
    align-items: center;

    /**
     * Cosmetic.
     */
    cursor: default;
    // Cosmetic state indicator. In the hover version, it's static; in the
    // toggled version, its content is changed when the state is toggled.
    &::after {
      // Layout.
      @include sf-toggle-inactive;
      // Cosmetic.
      opacity: 0.5;
      font-size: $sf-font-size-smaller;
    }
    &:not(:empty)::after {
      margin-left: $sf-space / 4;
    }
    // Different indicator style for the hover version.
    &:not([data-sf-toggle])::after {
      content: '▽';
    }
  }

  /**
   * Base head styles for the toggled version.
   */
  @at-root .sf-dropdown-head[data-sf-toggle] {
    /**
     * Overlay for closing the toggled dropdown.
     */
    &::before {
      @include sf-fixed-overlay;
      opacity: 0;
      cursor: default;
      // Layer this just under the dropdown.
      z-index: $sf-z-index-dropdown - 1;
    }
  }

  /**
   * Active head styles for the toggled version.
   */
  @at-root .sf-dropdown-head[data-sf-toggle].active {
    // Make the toggle overlay interactive.
    &::before {content: ''}
    // Change the state indicator.
    &::after {
      @include sf-toggle-active;
    }
  }

  /**
   * Base dropdown list styles.
   */
  @at-root .sf-dropdown-body {
    /**
     * Layout.
     */
    // Positioned absolutely in respect to the parent dropdown host.
    position: absolute;
    z-index: $sf-z-index-dropdown;
    width: 100%;

    // Hidden unless active. Both opacity and visibility are required to animate
    // the visibility change.
    opacity: 0;
    visibility: hidden;

    // Animate visibility changes.
    @include sf-transitions(all);

    /**
     * Inner layout.
     */
    display: flex;
    flex-direction: column;

    /**
     * Cosmetic.
     */
    @include sf-shadow-medium;
    background-color: inherit;

    // Cosmetic styling for immediate children.
    > * {padding: $sf-space}
  }

  /**
   * Position-dependent indicators.
   */
  // Top.
  &.sf-dropdown-top {
    // Reverse the indicators.
    .sf-dropdown-head::after {content: '△'}
    .sf-dropdown-head[data-sf-toggle].active::after {
      content: '▼';
    }
  }

  /**
   * Active dropdown list styles.
   */
  @at-root {
    // Hover version.
    .sf-dropdown-head:not([data-sf-toggle]):hover + .sf-dropdown-body,
    // Hover version -> dropdown list; we try to limit this to the hover version
    // to avoid flickering in the dropdown version when animations are enabled.
    .sf-dropdown-head:not([data-sf-toggle]) + .sf-dropdown-body:hover,
    // Toggled version.
    .sf-dropdown-head[data-sf-toggle].active + .sf-dropdown-body {
      // Display. Both opacity and visibility are required to animate the
      // visibility change.
      opacity: initial;
      visibility: inherit;
    }
  }

  /**
   * Dropdown list positioning.
   */
  // Bottom (default).
  &:not([class*=sf-dropdown-]), &.sf-dropdown-bottom {
    > .sf-dropdown-body {
      top: 100%;
      left: 0;
    }
  }
  // Top.
  &.sf-dropdown-top {
    // Dropdown position.
    > .sf-dropdown-body {
      bottom: 100%;
      left: 0;
    }
  }
  // Right.
  &.sf-dropdown-right {
    > .sf-dropdown-body {
      top: 0;
      left: 100%;
    }
  }
  // Left.
  &.sf-dropdown-left {
    > .sf-dropdown-body {
      top: 0;
      right: 100%;
    }
  }
}
