/**
 * (Placeholder for a grid component.)
 *
 *   <sf-grid>...</sf-grid>
 *   <div sf-grid>...</div>
 */

/**
 * ToDo.
 *
 * Add media-responsive grid classes, similar to [layout]. Pilfer ideas from
 * angular-material's grid.
 */

#{$sf-prefix}-grid,
[#{$sf-prefix}-grid] {

  /**
   * Inner layout.
   */
  display: flex;
  flex-wrap: wrap;

  /**
   * Immediate children.
   */
  > * {
    // Prevent children from unexpectedly stretching or shrinking.
    flex-grow: 0;
    flex-shrink: 0;

    // Wrap at a different number of items on different display sizes.
    @include sf-eq-sm {flex-basis: 50%}
    @include sf-gt-sm {flex-basis: 25%}
    // @include sf-gt-md {flex-basis: 25%}
  }
}
