/**
 * Text input styles.
 *
 *   <input class="sf-input">
 *   <input>
 *   <textarea class="sf-input"></textarea>
 *   <textarea></textarea>
 */

.sf-input,
// Native inputs.
input, textarea {
  /**
   * Layout.
   */
  padding: $sf-space / 2;

  // Border styles.
  @include sf-border-weak;
  &:focus, &:active {
    // Disappear in favour of the focus effect.
    border-color: transparent;
  }

  // Normalise default colours.
  &:not([class*=theme-]) {
    color: inherit;
    &::placeholder {
      color: rgba($sf-color-text, 0.5);
    }
  }

  // Normalise background colour. (Webkit has default {background-color: white}).
  &:not([class*=theme-]), &[class*=theme-text-] {
    background-color: inherit;
  }

  // Themed versions.
  @each $color-map in $sf-color-maps {
    $name: map-get($color-map, name);
    $default: map-get($color-map, default);

    &.theme-#{$name} {
      &::placeholder {
        color: rgba(sf-contrasting-color($default), 0.5);
      }
    }
  }

  // Animate style changes.
  @include sf-transitions(all);
}
