/**
 * sf-tabset is your typical tabbed panel.
 *
 * # Basic usage
 *
 * Must have the following layout:
 *
 *   <div class="sf-tabset">
 *     <div class="sf-tabset-head">
 *       <div class="sf-tab-head active">...</div>
 *       <div class="sf-tab-head">...</div>
 *     </div>
 *
 *     <div class="sf-tabset-body">
 *       <div class="sf-tab-body active">...</div>
 *       <div class="sf-tab-body">...</div>
 *     </div>
 *   </div>
 *
 * To display a tab, apply the `.active` class to a matching tab-head/tab-body
 * pair. The stylific JS file does this automatically on clicks.
 *
 * # Fixed head
 *
 * To fixate the header, annotate the tabset with `.sf-tabset-fixed`, then
 * add a height property to the body:
 *
 *   <div class="sf-tabset sf-tabset-fixed">
 *     <div class="sf-tabset-head">
 *       <div class="sf-tab-head active">...</div>
 *       <div class="sf-tab-head">...</div>
 *     </div>
 *
 *     <div class="sf-tabset-body" style="height: 12em">
 *       <div class="sf-tab-body active">...</div>
 *       <div class="sf-tab-body">...</div>
 *     </div>
 *   </div>
 */

.sf-tabset {

  // Layout.
  display: block;

  // Cosmetic.
  @include sf-border-weak;

  /**
   * Header styles.
   */
  @at-root .sf-tabset-head {
    // Layout.
    display: flex;
    flex-direction: row;
    height: $sf-tabset-head-height;

    // Cosmetic.
    border-bottom: 1px solid rgba($sf-color-text, 0.2);
  }

  // Tab heads.
  @at-root .sf-tab-head {
    // Layout.
    flex: 1;

    // Inner layout.
    @include sf-flex-host-center;

    // Whitespace.
    padding: $sf-space;

    // Indicate interactivity.
    cursor: pointer;
    @include sf-register-interactive-selector;
  }

  /**
   * Fixed header version.
   */
  &.sf-tabset-fixed {
    // Layout.
    position: relative;

    // Fix header.
    > .sf-tabset-head {
      position: absolute;
      @include sf-trbl(0, 0, auto, 0);
    }

    // Body styles.
    > .sf-tabset-body {
      // Offset header.
      margin-top: $sf-tabset-head-height;

      // Enable scrolling.
      @include sf-scroll-v;

      // Inner shadow to indicate fixedness.
      @include sf-shadow-inset-top-bottom;
    }
  }

  /**
   * General body and tab styles.
   */
  @at-root .sf-tab-body {
    // Whitespace.
    @extend .container;
    // Hide unless active.
    &:not(.active) {display: none}
  }
}
