/**
 * sf-tabset is your typical tabbed panel.
 *
 *   <sf-tabset>
 *     ...
 *     <label>...</label>
 *     <sf-tab>...</sf-tab>
 *     ...
 *     <label class="active">...</label>
 *     <sf-tab>...</sf-tab>
 *     ...
 *   </sf-tabset>
 */

sf-tabset,
[sf-tabset] {

  /**
   * Inner layout.
   */
  display: flex;
  // This allows us to fold the children, putting the body below all headers.
  flex-wrap: wrap;

  // Cosmetic.
  @include sf-border-weak;

  /**
   * Base tab header styles.
   */
  > label {
    /**
     * Layout.
     */
    // Stretch across the available space.
    flex: 1;
    // Reorder the flow, moving the header behind all bodies.
    order: -1;
    height: $sf-tabset-head-height;

    /**
     * Inner layout.
     */
    @include sf-flex-host-center;

    // Cosmetic.
    @include sf-register-interactive-selector;
    @include sf-cursor-interactive;

    // Whitespace.
    padding: $sf-space;
  }

  /**
   * Base body styles.
   */
  // Hide by default. This may be accidentally overridden by applying layout
  // attributes like [layout-sm], not sure if worth guarding against.
  > label:not(.active) + sf-tab,
  > label:not(.active) + [sf-tab] {
    display: none;
  }
  > sf-tab,
  > [sf-tab] {
    /**
     * Layout.
     */
    // In combination with {flex-wrap: wrap} on the parent, this folds the line,
    // putting the body below the headers.
    width: 100%;
    // Reorder the flow, moving the body after all headers.
    order: 1;
    // Make sure it doesn't collapse due to lack of content.
    min-height: $sf-tabset-body-min-height;

    /**
     * Cosmetic.
     */
    border-top: 1px solid rgba($sf-color-text, 0.2);
    // Whitespace.
    padding: $sf-space;
    @include sf-space-out-vertical;
  }

  /**
   * Active tab highlighting.
   */
  > label.active {
    @include sf-register-selected-state;
  }

  /**
   * Active body styles.
   */
  > label.active + sf-tab,
  > label.active + [sf-tab], {
    display: block;
  }
}
