/**
 * sf-tabset is your typical tabbed panel.
 *
 * # Basic usage
 *
 * Must have the following layout:
 *
 *   <div sf-tabset>
 *     <div sf-tabset-head>
 *       <label class="active">...</label>
 *       <label>...</label>
 *     </div>
 *
 *     <div sf-tabset-body>
 *       <div sf-tab class="active">...</div>
 *       <div sf-tab>...</div>
 *     </div>
 *   </div>
 *
 * To display a tab, apply the `.active` class to a matching label/tab pair.
 * The stylific JS file does this automatically on clicks.
 *
 * # Fixed head
 *
 * To fixate the header, annotate the tabset with `[sf-tabset="fixed"]`, then
 * add a height property to the body:
 *
 *   <div sf-tabset="fixed">
 *     <div sf-tabset-head>
 *       <label class="active">...</label>
 *       <label>...</label>
 *     </div>
 *
 *     <div sf-tabset-body style="height: 12em">
 *       <div sf-tab class="active">...</div>
 *       <div sf-tab>...</div>
 *     </div>
 *   </div>
 */

[sf-tabset] {

  // Layout.
  display: block;

  // Cosmetic.
  @include sf-border-weak;

  /**
   * Header styles.
   */
  > [sf-tabset-head] {
    // Layout.
    display: flex;
    flex-direction: row;
    height: $sf-tabset-head-height;

    // Cosmetic.
    border-bottom: 1px solid rgba($sf-color-text, 0.2);

    // Header labels.
    > label {
      // Layout.
      flex: 1;

      // Inner layout.
      @include sf-flex-host-center;

      // Whitespace.
      padding: $sf-space;

      // Cosmetic.
      @include sf-cursor-interactive;
    }

    // Interactive colour highlighting for the label.
    @include sf-register-interactive-selector(' > label');
    @include sf-register-selected-state(' > label.active');
  }

  /**
   * Fixed header version.
   */
  &[sf-tabset~=fixed] {
    // Layout.
    position: relative;

    // Fix header.
    > [sf-tabset-head] {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
    }

    // Body styles.
    > [sf-tabset-body] {
      // Offset header.
      margin-top: $sf-tabset-head-height;

      // Enable scrolling.
      overflow: scroll;

      // Inner shadow to indicate fixedness.
      @include sf-shadow-inset-top-bottom;
    }
  }

  /**
   * Body styles.
   */
  > [sf-tabset-body] > [sf-tab] {
    // Hide unless active.
    &:not(.active) {display: none}

    // Whitespace.
    padding: $sf-space;
    @include sf-space-out-vertical;
  }
}
