/**
 * Usage is simple:
 *
 *   <sf-article>
 *     ...
 *   </sf-article>
 *
 * To add default padding, use:
 *
 *   <sf-article class="pad">
 *     ...
 *   </sf-article>
 */
@{sf-prefix}-article {.sf-article()}
.sf-article() {

  /**
   * Layout.
   */
  display: block;
  // Narrow version (requires an explicit width on the parent). Starts wide
  // and narrows down based on display width.
  &.narrow {
    .sf-media-mix-inverse(width, 100%);
  }

  // Article image styles. Using a descendant selector because the layout may
  // have arbitrary depth.
  img {
    // Cosmetic.
    .sf-shadow-thin();

    // Side versions.
    &.left, &.right {height: 16em}
    &.left   {
      float: left;
      margin-right: @sf-common-margin;
    }
    &.right  {
      float: right;
      margin-left: @sf-common-margin;
    }

    // Different sizes.
    &.tiny   {height: 10em}
    &.small  {height: 12em}
    &.medium {height: 20em}
  }

  // Spacing between children.
  > *:not(:last-child) {
    margin-bottom: @sf-common-margin;
  }

  // Link decorations. We're trying to target links in text without affecting
  // other elements.
  &, p, span, div, li, td {
    & > :link {
      .sf-common-link-decorations();
    }
  }

  // Clear article's floating images before letting go of the flow.
  &::after {
    content: '';
    display: table;
    clear: both;
  }

}
