/**
 * <button class="sf-btn">...</button>
 */

// Class-based component.
.@{sf-prefix}-btn {.sf-btn()}

// Default elements turned into a component.
button, input[type=button] {
  & when (@sf-enable-global-element-components) {.sf-btn()}
}

.sf-btn() {

  /**
   * Layout.
   */
  display: inline-block;
  padding: 0.4 * @sf-common-padding 0.7 * @sf-common-padding;

  // Typography.
  font-size: @sf-font-size-base;

  // Use the standard background colour by default.
  background-color: @sf-base-background-color;
  // Use interactive colours.
  .sf-colormix-all-states(~'', true);

  // Cursor styles.
  cursor: pointer;
  &[disabled] {
    cursor: not-allowed;
  }

  // Border styles.
  border: none;
  border-radius: 0;
  // Default "border" with a shadow.
  .sf-shadow-weak();

  // Browser-consistent outline when focused.
  &:focus {
    .sf-outline-weak();
  }

  // Animate style changes.
  .sf-common-transition-all();

}
